/*  XCODE */
.DS_Store
Thumbs.db
xcuserdata/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcuserstate

/* LOCAL */
BVLocalOptions.h

/* Peak */
PEAKSAVE*

/*  BUILD */
build/*

/* PODS */
Pods/
Podfile.lock

breakvaders app store info.md

*.txt
