<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Leaderboards</key>
		<dict>
			<key>438984</key>
			<string>high_score</string>
			<key>438994</key>
			<string>chain</string>
			<key>552294</key>
			<string>high_score_phn</string>
			<key>552304</key>
			<string>chain_phn</string>
		</dict>
		<key>Achievements</key>
		<dict>
			<key>516324</key>
			<string>hotx3</string>
			<key>516824</key>
			<string>dawdle</string>
			<key>516834</key>
			<string>aimforthetop</string>
			<key>516844</key>
			<string>quintuple</string>
			<key>516854</key>
			<string>juggler_10</string>
			<key>516864</key>
			<string>juggler_20</string>
			<key>516874</key>
			<string>Juggler_50</string>
			<key>516884</key>
			<string>juggler_100</string>
			<key>516894</key>
			<string>passed</string>
			<key>679092</key>
			<string>brain</string>
		</dict>
	</dict>
</plist>