<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>star1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2, 2}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{7, 7}, {2, 2}}</string>
			<key>sourceSize</key>
			<string>{16, 16}</string>
		</dict>
		<key>star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{4, 1}, {4, 4}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{6, 6}, {4, 4}}</string>
			<key>sourceSize</key>
			<string>{16, 16}</string>
		</dict>
		<key>star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{9, 1}, {12, 12}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {12, 12}}</string>
			<key>sourceSize</key>
			<string>{16, 16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{32, 32}</string>
	</dict>
</dict>
</plist>
